
@{
    ViewData["Title"] = "News";
}

<div class="container">
    <h1>Resources and newsfeeds</h1>
    <p>News source 1: <a href="#">source 1</a></p>
    <p>News source 2: <a href="#">source 2</a></p>
    <p>News source 3: <a href="#">source 3</a></p>
</div>
