@model CreateForumThreadViewModel

@{
    ViewData["Title"] = "Create thread";
}

<div class="container">
    <h1>Create Thread</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="AccountID" value="1" />
                <div class="form-group">
                    <label asp-for="ForumCategoryID" class="control-label"></label>
                    <br />
                    <select asp-for="ForumCategoryID">
                        @foreach (var forumCategory in Model.AvailableCategories)
                        {
                            <option value="@forumCategory.ForumCategoryID">@forumCategory.ForumCategoryString</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="ThreadTitle" class="control-label"></label>
                    <input asp-for="ThreadTitle" class="form-control" />
                    <span asp-validation-for="ThreadTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ThreadMessage" class="control-label"></label>
                    <textarea asp-for="ThreadMessage" class="form-control" cols="25" rows="3"></textarea>
                    <span asp-validation-for="ThreadMessage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
