@model IEnumerable<ForumCategory>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row" style="margin-left:2px;">
        <h1>Forum</h1>
    </div>

    <div class="row" style="margin-left:2px;">
        <p>
            <a asp-action="Create">Create new category</a>
        </p>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Category
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href='@string.Format("/Forum/ForumThreads?forumCategoryID={0}", item.ForumCategoryID)'>
                                @item.ForumCategoryString
                            </a>
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { forumCategoryID = item.ForumCategoryID }) |
                            @Html.ActionLink("Delete", "Delete", new { forumCategoryID = item.ForumCategoryID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
