
@{
    ViewData["Title"] = "Feedback";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Feedback</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Do you want to give us feedback on our website? Do you feel the content is inappropriate?
                Do you see something factually incorrect stated on this website?
                Mail us at contact@climatechangesite.com, or press the button below!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="mailto: contact@climatechangesite.com" class="btn btn-info">Email us!</a>
        </div>
    </div>
</div>
