body {
    padding-top: 100px;
    padding-bottom: 85px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}

.redstyle {
    background-color: #B51515;
}

.masthead {
    position: relative;
    background: url(../images/fire1.jpg) no-repeat center center;
    background-size: cover;
}

.mastheadoverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}