@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="margin-top:30px;margin-bottom:30px">
    <div class="row">
        <div class="col-sm-7 bg-danger">
            <h1>Plan of action</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut neque ex, sagittis et est eget, bibendum vulputate ante. Cras at viverra libero.
                Sed lacinia est eu mollis maximus. Cras a molestie sapien. Vestibulum lobortis tempus auctor. Phasellus ut tortor quis magna euismod molestie.
                Nunc sollicitudin nisi eu mattis aliquam. Vestibulum volutpat ipsum vel magna placerat bibendum. Pellentesque eget efficitur risus. Praesent sollicitudin,
                enim suscipit tincidunt maximus, augue diam consequat tellus, et porttitor tellus felis a erat. In tristique diam non ultricies imperdiet.
                Curabitur sodales non tortor in sollicitudin. Cras vel sollicitudin nisl. Cras eleifend sed justo sed vulputate. Sed sed convallis mauris.
                Donec porta ac dolor ut ultrices.

                Nam luctus nunc quis orci fringilla vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                Sed eu augue in purus accumsan venenatis eu at sapien. Donec ornare risus erat, a feugiat orci sagittis feugiat. Quisque congue velit vel tortor imperdiet aliquam.
                Ut eget magna placerat metus sagittis aliquam. Nunc feugiat, quam sit amet eleifend sodales, felis nisi venenatis urna, et aliquam lectus neque et velit.
                Phasellus eget justo a enim feugiat mollis. Nunc sed laoreet ipsum, vel commodo erat. Sed vulputate condimentum ex, rutrum porttitor nulla pharetra semper.
                Nunc sed viverra elit, a fermentum elit. Etiam vulputate justo id velit lobortis dapibus. Fusce a sagittis massa.
                Pellentesque dapibus risus in turpis porttitor, non blandit augue rutrum. Phasellus consequat dui a egestas cursus. Sed varius nisi ac lacus lobortis aliquet.

                Praesent non neque auctor lorem mollis consequat. Etiam velit mi, efficitur quis risus non, interdum faucibus ipsum. Mauris fermentum convallis ipsum,
                posuere luctus nibh vulputate sit amet. Donec vehicula eros et arcu dictum, eget maximus leo maximus. Nulla at aliquam nisi, sit amet rhoncus mi.
                Sed faucibus tortor et eros ornare posuere. Nunc lacus arcu, porta sit amet mauris et, tincidunt laoreet nisi. Donec consequat luctus sapien, ut auctor nisl imperdiet sit amet.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus semper purus, ut consectetur urna rutrum a.
            </p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4 bg-success">
            <h1>Newsfeed</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut neque ex, sagittis et est eget, bibendum vulputate ante. Cras at viverra libero.
                Sed lacinia est eu mollis maximus. Cras a molestie sapien. Vestibulum lobortis tempus auctor. Phasellus ut tortor quis magna euismod molestie.
                Nunc sollicitudin nisi eu mattis aliquam. Vestibulum volutpat ipsum vel magna placerat bibendum. Pellentesque eget efficitur risus. Praesent sollicitudin,
                enim suscipit tincidunt maximus, augue diam consequat tellus, et porttitor tellus felis a erat. In tristique diam non ultricies imperdiet.
                Curabitur sodales non tortor in sollicitudin. Cras vel sollicitudin nisl. Cras eleifend sed justo sed vulputate. Sed sed convallis mauris.
                Donec porta ac dolor ut ultrices.

                Nam luctus nunc quis orci fringilla vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                Sed eu augue in purus accumsan venenatis eu at sapien. Donec ornare risus erat, a feugiat orci sagittis feugiat. Quisque congue velit vel tortor imperdiet aliquam.
                Ut eget magna placerat metus sagittis aliquam. Nunc feugiat, quam sit amet eleifend sodales, felis nisi venenatis urna, et aliquam lectus neque et velit.
                Phasellus eget justo a enim feugiat mollis. Nunc sed laoreet ipsum, vel commodo erat. Sed vulputate condimentum ex, rutrum porttitor nulla pharetra semper.
                Nunc sed viverra elit, a fermentum elit. Etiam vulputate justo id velit lobortis dapibus. Fusce a sagittis massa.
                Pellentesque dapibus risus in turpis porttitor, non blandit augue rutrum. Phasellus consequat dui a egestas cursus. Sed varius nisi ac lacus lobortis aliquet.
            </p>
        </div>
    </div>
</div>