@{
    ViewData["Title"] = "Home Page";
}

<div class="banner text-center">
    <div class="banneroverlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-bottom:100px;margin-top:100px;">
                <p style="color:white;"><font size="10"><strong>The one-stop site for all<br /> your climate change info!</strong></font></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <section class="text-center">
        <div class="row">
            <div class="col-md-4">
                <img src="~/images/PlanIcon2.jpg" style="margin-bottom:35px;margin-top:50px;" />
                <h3>Action plans</h3>
                <p class="lead">Follow a scientifically supported plan of action to help against the fight against climate change!</p>
            </div>
            <div class="col-md-4">
                <img src="~/images/RssIcon.jpg" style="margin-bottom:35px;margin-top:50px;" />
                <h3>Newsfeed</h3>
                <p class="lead">Catch the latest news on climate change through our news feed!</p>
            </div>
            <div class="col-md-4">
                <img src="~/images/ForumIcon2.jpg" style="margin-bottom:35px;margin-top:50px;" />
                <h3>Forum</h3>
                <p class="lead">Discuss climate change with other people through our categorized forum!</p>
            </div>
        </div>
    </section>

</div>
