@model CreateActionPlanViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1>Create action plan</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="AccountID" value="1" />
                <div class="form-group">
                    <label asp-for="PlanTitle" class="control-label">Plan title</label>
                    <input asp-for="PlanTitle" class="form-control" />
                    <span asp-validation-for="PlanTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlanMessage" class="control-label">Plan message</label>
                    <textarea asp-for="PlanMessage" class="form-control" cols="25" rows="3"></textarea>
                    <span asp-validation-for="PlanMessage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlanCategory" class="control-label">Plan category</label>
                    <input asp-for="PlanCategory" class="form-control" />
                    <span asp-validation-for="PlanCategory" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>